<% if user_signed_in? %>
<h1> Hi, <%= current_user%></h1>

<table class="table table-stripped table-bordered table-hower">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
    <%  if friend.user == current_user %>
      <tr>
        <td><%= link_to friend.first_name + " " + friend.last_name , friend %></td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.twitter %></td>
        <td><%= link_to 'Delele', friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Friend', new_friend_path, class:"btn btn-secondary" %>

<% else %>

<h1>Trapper Keepr</h1>
<p>A full-stack Rails app created to show CRUD proof-of-concept as a portfolio demonstration piece.</p>
<p>It uses the following :</p>
<ul class="homeInfo">
  <li>Custom Bootstrap and custom CSS for styling.</li>
  <li>The devise gem for authentication and authorization.</li>
  <li>CRUD capabilities.</li>
</ul>



<% end %>